<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articles</title>
</head>
<body>
    <nav>
        <ul>
            <li>
                <form class="logout-link" action="{% url 'accounts:logout'%}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="logout">
                </form>
            </li>
        </ul>
    </nav>



{% if user.is_authenticated %}
  Hi {{ user.username }}!
{% else %}
  <p>You are not logged in</p>

{% endif %}

     <p><a href="{% url 'create' %}">Создать статью</a> </p>

    <div class="articles">
        {% for article in articles %}
            <div class="article">
                <H2>{{article.title}}</H2>
                <p><a href="{% url 'detail' id=article.id %}">{{article.title}}</a> </p>
                <p>{{article.author}}</p>
                <p>{{article.date}} </p>
            </div>
        {% endfor %}
    </div>
</body>
</html>