{% extends 'base_layout.html' %}

{% block content%}
{% if user.is_authenticated %}
loggin
 <p><a href="{% url 'articles:subscribe' id=article.author.id %}">Подписаться на пользователя {{article.author}}</a> </p>
{% endif %}


  <p>не подписн</p>
    <div class="article-detail">
        <div class="article">
            <h1>{{article.title}}</h1>
            <small>{{article.date}}</small>
            <small>{{article.author}}</small>
            <p>{{article.description}}</p>

               <p><a href="{% url 'articles:list' %}">Back</a> </p>
        </div>
    </div>

{% endblock%}