{% extends 'base_layout.html' %}

{% block content%}
{% if user.is_authenticated %}
loggin
 <p><a href="{% url 'subscribe' id=article.id %}">Подписаться на пользователя {{article.author}}</a> </p>
{% endif %}


  <p>не подписн</p>
    <div class="article-detail">
        <div class="article">
            <h3>{{article.title}}</h3>
            <h2>{{article.date}}</h2>
            <h1>{{article.author}}</h1>
            <p>{{article.description}}</p>
               <p><a href="{% url 'subscribe:main' %}">Back</a> </p>
        </div>
    </div>
{% endblock%}