<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лента новостей</title>
</head>
<body>

Blogs:

{% if user.is_authenticated %}
  Hi {{ user.username }}!
      <form class="logout-link" action="{% url 'accounts:logout'%}" method="post">
                    {% csrf_token %}
                    <input type="submit" value="logout">
                </form>
      <p><a href="{% url 'create' %}">Создать статью</a> </p>
    <p><a>Моя лента подписок</a></p>
{% else %}
  <p>You are not logged in</p>

{% endif %}

 {% for user in users %}
  {{user.username}}
{% endfor %}
</body>
</html>