<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Лента новостей</title>
</head>
<body>

Blogs:

{% if user.is_authenticated %}
  Hi {{ user.username }}!

    <p><a>Моя лента подписок</a></p>
{% else %}
  <p>You are not logged in</p>

{% endif %}
Пользователи, на которых вы подписаны:
 {% for user in users %}
  {{user.username}}
{% endfor %}
<br>
Лента новостей:

        {% for article in articles %}
            <div class="article">
                <H2>{{article.title}}</H2>
                <p><a href="{% url 'subscribe:detailsub' id=article.id %}">{{article.title}}</a> </p>
                <p>{{article.author}}</p>
                <p>{{article.date}} </p>
              <p><a href="{% url 'subscribe:readed' id=article.id %}">Прочитан</a> </p>
            </div>
        {% endfor %}

</body>
</html>